In [1]:
import pandas as pd
import glob
path =r'/home/jovyan/notebooks/input'
files = glob.glob(path + '/*')
df_list=[]
delete = []
req_cols = ['user_id', 'ad_share_gross', 'sub_share_gross', 'bits_share_gross','bits_developer_share_gross','bits_extension_share_gross','prime_sub_share_gross','bit_share_ad_gross','report_date']
row_count = 800000
for f in files:
    out = pd.read_csv(f, usecols= req_cols, dtype={'report_date' : str})
    out = out.astype({'bit_share_ad_gross' : 'float16', 'ad_share_gross' : 'float32', 'sub_share_gross' : 'float32', 'bits_share_gross' : 'float32', 'bits_developer_share_gross' : 'float32', 'bits_extension_share_gross' : 'float32', 'prime_sub_share_gross' : 'float32'})
    col_list = list(out)
    col_list.remove('user_id')
    col_list.remove('report_date')
    out['total'] = out[col_list].sum(axis=1)
    
    for row in out.itertuples():
        if row.total < 4.99:
            delete.append(row.Index)
    out.drop(index=delete, inplace=True)
    delete = []
    df_list.append(out)
out = pd.concat(df_list)
out.head()

,user_id,ad_share_gross,sub_share_gross,bits_share_gross,bits_developer_share_gross,bits_extension_share_gross,prime_sub_share_gross,bit_share_ad_gross,report_date,total
1,149727164,0.00,6.65,0.00,0.0,0.0,0.00,0.0,11/1/2020,6.650000
3,220662205,0.47,0.00,0.10,0.0,0.0,4.99,0.0,11/1/2020,5.560000
6,28604133,0.00,0.00,13.20,0.0,0.0,0.00,0.0,11/1/2020,13.200000
10,499784873,0.35,9.15,0.00,0.0,0.0,0.00,0.0,11/1/2020,9.500000
12,142893819,1.10,26.59,65.93,0.0,0.0,4.99,0.0,11/1/2020,98.610001

In [2]:
out['runningtotal'] = out['total'].groupby(out['user_id']).transform('sum')

In [3]:
#sorted = out.sort_values('runningtotal', ascending=False).drop_duplicates('runningtotal').head(100000)

In [4]:
#sorted.tail(2)

In [27]:
tmp= out.loc[out['runningtotal'] >= 1850.250122]
tmp.sort_values('runningtotal').head()

,user_id,ad_share_gross,sub_share_gross,bits_share_gross,bits_developer_share_gross,bits_extension_share_gross,prime_sub_share_gross,bit_share_ad_gross,report_date,total,runningtotal
586030,81681961,0.12,50.709999,0.0,0.0,0.0,2.500000,0.000000,04/1/2020,53.329998,1850.250122
155722,81681961,0.46,69.300003,0.0,0.0,0.0,22.450001,0.000000,12/1/2019,92.210007,1850.250122
367183,81681961,2.58,78.580002,0.0,0.0,0.0,29.940001,0.300049,10/1/2019,111.400055,1850.250122
1216783,81681961,1.10,111.209999,1.0,0.0,0.0,7.490000,0.000000,09/1/2020,120.799995,1850.250122
1759904,81681961,0.28,35.740002,0.0,0.0,0.0,9.980000,0.000000,04/1/2021,46.000000,1850.250122

In [ ]:
import requests
import re
import json
names = []
urls = []
for ids, group in grouped:
    print(ids)
    #response = requests.get('https://api.ivr.fi/twitch/resolve/%s?id=true' % ids)
    #names.append(response.json()['login'])
    #print(response.json()['login'])
#out['name'] = names
out.head()

In [ ]:
test = pd.read_csv('all_revenues_10_03.csv')
print(test.loc[test['user_id'] == 71092938])
test2=pd.read_csv('all_revenues_10_04.csv')
test2.loc[test2['user_id'] == 71092938]